<div id="content">
    <mat-form-field style="width: calc(100% - 2rem);">
        <mat-select placeholder="Faction*" [(value)]="selectedFaction">
            <mat-option *ngFor="let faction of factions" [value]="faction">{{ faction }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: calc(100% - 2rem);">
        <input matInput #limitInput type="number" min="1" max="500" placeholder="Freeband Limit*" [(ngModel)]="freebandLimit" (focus)="limitInput.select()">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="altLeader" [disabled]="this.disallowedAltLeadersFactions.indexOf(this.selectedFaction) > -1">Enable Alternate Leader Rule</mat-checkbox>
    <div>
        <button mat-raised-button (click)="optionsSet()" [disabled]="updateDisabled()">Update Settings</button>
    </div>
</div>