<div id="prebuilt">
    <mat-form-field style="width:100%">
        <mat-select placeholder="Faction" [(value)]="selectedFaction">
            <mat-option value=''>None</mat-option>
            <mat-option *ngFor="let faction of factions" [value]="faction">{{faction}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width:100%">
        <mat-select placeholder="Value" [(value)]="selectedValue">
            <mat-option value=''>None</mat-option>
            <mat-option *ngFor="let value of values" [value]="value">{{value}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div style="width:100%">
        <button mat-raised-button class="mat-accent" (click)="filterSelection(selectedFaction, selectedValue)">Filter</button>
    </div>
    <div *ngFor="let freeband of prebuiltFreebands" class="freebandBox">
        <h2>{{ freeband.name }}</h2>
        <h3>Value: {{ freeband.freebandLimit }}</h3>
        <table>
            <tbody>
                <tr *ngFor="let model of freeband.models">
                    <td>{{ model.displayName }}<span *ngIf="model.type"> - {{ model.type }}</span></td>
                </tr>
            </tbody>
        </table>
        <button mat-raised-button class="mat-accent" (click)="freebandSelected(freeband)">{{ freeband.name }}</button>
    </div>
</div>