@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/_theme-colors' as ffb-theme;

.freebandBox {
    background-color: map.get(ffb-theme.$primary-palette, 60);
    border-radius: 1rem;
    color: #000;
    margin: 1rem;
    padding: 1rem;

    table {
        border: 1px solid black;
        border-collapse: collapse;
        margin-bottom:1rem;
        width:100%;
    
        tbody tr {
            color: black;
    
            &:nth-child(odd) {
                background-color: #EEE;
            }
            &:nth-child(even) {
                background-color: #AAA;
            }
        }
    }
}

#prebuilt {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width : 415px) {
    .freebandBox {
        width: 100%;
    }
}