<div id="contact">
    <div>
        <p>If you find any issues with the builder, feel free to leave a comment on any of these platforms. Someone will usually tag me if I don't find the message first.</p>
        <p><a href="https://www.facebook.com/groups/1410929899189295">Facebook - Freeblades Players group</a></p>
        <p><a href="https://discord.com/channels/701785595864809530/720706406830833724">Discord - World of Faelon - #listbuilding</a></p>
        <p><a href="https://github.com/greeny88/Freeblades-Freeband-Builder/issues">GitHub - Issues request page</a></p>
        <p>Also, if you want to send a monetary thanks, you can use the below page.</p>
        <p><a href="https://github.com/sponsors/greeny88">GitHub - Sponsorship page</a></p>
    </div>
    <div>
        <img src="assets/Bandit-Champion.jpg" width="400px" />
    </div>
</div>