//@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/material-components-web/material-components-web";
@import 'node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ffb-app-primary: mat-palette($mat-indigo);
$ffb-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ffb-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ffb-app-theme: mat-light-theme($ffb-app-primary, $ffb-app-accent, $ffb-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ffb-app-theme);

#mainDisplay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav-container#mainContainer {
    flex: 1;
}

.top-bar {
    border-bottom: 1px solid rgba(0, 0, 0, .42);
}

mat-toolbar-row {
    &.noSetHeight {
        height: initial;
    }

    &.errorMessage {
        white-space: normal;
        background-color: red;
    }
}

footer {
    text-align: center;
    font-size: 0.75rem;
    background-color: #f5f5f5;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, .42);
}

#printModelList {
    display: none;
}

@media print {
    #mainDisplay {
        display: none;
    }

    #printModelList {
        display: initial;
        font-size: 12px;

        table {
            border-collapse: collapse;
            break-inside: avoid;
            width: 100%;

            td, th {
                border: 1px solid black;
                padding: 0.25rem 0.5rem;
                width: 8%;

                &.no-border {
                    border: none;
                }
                &[colspan="2"] {
                    width: 16%;
                }
                &[colspan="3"] {
                    width: 24%;
                }
                &[colspan="4"] {
                    width: 32%;
                }
                &[colspan="5"] {
                    width: 40%;
                }
            }

            th {
                background-color: #DDD;
            }
        }
    }
}