//@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/material-components-web/material-components-web";
@import 'node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// green #73c169
// gold #f8cd6e
$ffb-app-primary: mat-palette($mat-green);
$ffb-app-accent:  mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$ffb-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ffb-app-theme: mat-dark-theme($ffb-app-primary, $ffb-app-accent, $ffb-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ffb-app-theme);

#mainDisplay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-toolbar-row {
    &.noSetHeight {
        height: initial;
    }

    &.errorMessage {
        white-space: normal;
        background-color: red;
    }
}

mat-sidenav-container {
    mat-sidenav {
        padding: 0.5rem;
    }
    mat-sidenav-content {
        margin: 0.5rem;
    }
}

footer {
    text-align: center;
    font-size: 0.75rem;
    // background-color: #f5f5f5;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, .42);
}

a, a:visited {
    color: #FFF;
}

a:hover {
    color: #ffc107;
}

.bold-text {
    font-weight: bold;
}

.printOnly {
    display: none !important;
}

@media screen {
    .top-bar {
        border-bottom: 1px solid rgba(0, 0, 0, .42);
    }
}

@media print {
    // Reset all colors
    * {
        color: initial !important;
        background-color: initial !important;
    }

    .printOnly {
        display: initial !important;
    }
    
    // Hide elements not part of the freeband roster
    .noPrint, footer, mat-sidenav, mat-toolbar, freeband-setup {
        display: none !important;
    }

    mat-toolbar-row.mat-toolbar-row {
        padding: 0 0.5rem;
    }
}