//@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/material-components-web/material-components-web";
@import 'node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ffb-app-primary: mat-palette($mat-indigo);
$ffb-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ffb-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ffb-app-theme: mat-light-theme($ffb-app-primary, $ffb-app-accent, $ffb-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ffb-app-theme);

// mat-sidenav-container#mainContainer {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background: #eee;
// }

@mixin border-top {
    border-top: 1px solid black;
}

@mixin border-bottom {
    border-bottom: 1px solid black;
}

@mixin border-right {
    border-right: 1px solid black;
}

@mixin border-left {
    border-left: 1px solid black;
}

.border-top {
    @include border-top();
}

.border-bottom {
    @include border-bottom();
}

.border-left {
    @include border-left();
}

.border-right {
    @include border-right();
}

.border-x {
    @include border-top();
    @include border-bottom();
}

.border-y {
    @include border-right();
    @include border-left();
}
.border {
    @include border-top();
    @include border-bottom();
    @include border-right();
    @include border-left();
}

builder {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1.example-app-name {
    margin-left: 8px;
}

mat-sidenav-container#mainContainer {
    flex: 1;
}

// .errorMessage {
//     padding: 24px;
//     background-color: red;
//     flex: 1;
// }


.floatingTopInfo {
    position:fixed;
    z-index:2;
    background-color:#fafafa;
    width:100%;
}

mat-toolbar-row {
    &.noSetHeight {
        height: initial;
    }

    &.errorMessage {
        white-space: normal;
        background-color: red;
    }
}

footer {
    text-align: center;
    font-size: 0.75rem;
}