<div>
    <mat-form-field style="width:100%">
        <mat-select placeholder="Faction*" [(value)]="selectedFaction">
            <mat-option *ngFor="let faction of factions" [value]="faction">{{faction}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" min="1" max="10000" placeholder="Freeband Limit*" [(ngModel)]="freebandLimit" >
    </mat-form-field>
    <mat-checkbox [(ngModel)]="altLeader">Enable Alternate Leader Rule</mat-checkbox>
    <div>
        <button mat-raised-button class="mat-accent" (click)="optionsSet()" [disabled]="updateDisabled()">Update Settings</button>
    </div>
</div>