<div class="modelDisplay" [ngClass]="{'noPrint': !model}">
    <div class="noPrint modelDisplayButtons">
        <mat-form-field>
            <mat-select [placeholder]="type !== 'Standard' ? type : 'Model'" (selectionChange)="modelSelected($event)" [(value)]="selected" title="{{selected?.displayName}} - {{selected?.stats?.type}} - {{selected?.value}}">
                <mat-option value="">None</mat-option>
                <mat-optgroup *ngFor="let faction of model_factions" [label]="faction">
                    <mat-option *ngFor="let m of model_grouping[faction]" [value]="m" title="{{m.displayName}} - {{m.stats.type}} - {{m.value}}">{{m.displayName}} - {{m.stats.type}} - {{m.value}}</mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-raised-button class="mat-accent" (click)="modelRemoved()" *ngIf="type === 'Standard'">Remove model</button>
            <button mat-raised-button class="mat-accent" (click)="openEditWindow()" *ngIf="model">Edit model</button>
        </div>
    </div>
    <ng-container *ngIf="model">
        <div class="modelDisplayRow">
            <div><span class="bold-text">Model: </span>{{model.displayName}}<span *ngIf="model.characterName" class="noPrint">&nbsp;:({{model.characterName}})</span></div>
            <div class="printOnly"><span class="bold-text">Name: </span><span *ngIf="model.characterName">({{model.characterName}})</span></div>
            <div class="noPrint"><span class="bold-text">Type: </span>{{model.stats.type}}</div>
            <div class="noPrint"><span class="bold-text">Value: </span>{{model.stats.modelValue}}</div>
            <div class="printOnly"><span class="bold-text">AP: </span></div>
        </div>
        <div class="modelDisplayRow">
            <div><span class="bold-text">SPD: </span>{{model.stats.speed}}</div>
            <div><span class="bold-text">DEF: </span>{{model.stats.defense}}<span *ngIf="model.stats.shield">{{model.stats.shield}}</span></div>
            <div><span class="bold-text">AV: </span>{{model.stats.armor}}</div>
            <div><span class="bold-text">LP: </span>{{model.stats.lifePoints}}</div>
            <div><span class="bold-text">DISC: </span>d{{model.stats.discipline}}</div>
            <ng-container *ngIf="model.stats.moraleBonus && model.stats.moraleBonus > 0">
                <div><span class="bold-text">Morale/Fear Bonus: </span>{{model.stats.moraleBonus}}</div>
            </ng-container>
            <ng-container *ngIf="model.stats.moraleBonus == 0">
                <div class="printOnly">&nbsp;</div>
            </ng-container>
        </div>
        <div class="modelDisplayRow" *ngFor="let weapon of model.stats.melee">
            <div><span class="bold-text">MAR: </span>d{{weapon.rating}}<span *ngIf="weapon.ratingBonus && weapon.ratingBonus > 0">&nbsp;+{{weapon.ratingBonus}}</span></div>
            <div class="larger"><span class="bold-text">Weapon: </span>{{weapon.name}} {{weapon.abilityList}}</div>
            <div><span class="bold-text">Dmg: </span>d{{weapon.damage}}<span *ngIf="weapon.damageBonus && weapon.damageBonus > 0">&nbsp;+{{weapon.damageBonus}}</span></div>
        </div>
        <div class="modelDisplayRow" *ngFor="let weapon of model.stats.range">
            <div><span class="bold-text">RAR: </span>d{{weapon.rating}}<span *ngIf="weapon.ratingBonus && weapon.ratingBonus > 0">&nbsp;+{{weapon.ratingBonus}}</span></div>
            <div class="larger"><span class="bold-text">Weapon: </span>{{weapon.name}} {{weapon.abilityList}} {{weapon.distance}}"-{{weapon.distance*2}}"-{{weapon.distance*3}}"</div>
            <div><span class="bold-text">Dmg: </span>d{{weapon.damage}}<span *ngIf="weapon.damageBonus && weapon.damageBonus > 0">&nbsp;+{{weapon.damageBonus}}</span></div>
        </div>
        <div class="modelDisplayRow" *ngIf="model.stats.casting">
            <div><span class="bold-text">CAR: </span>d{{model.stats.casting.rating}}<span *ngIf="model.stats.casting.ratingBonus && model.stats.casting.ratingBonus > 0">&nbsp;+{{model.stats.casting.ratingBonus}}</span></div>
            <div><span class="bold-text">Power: </span>{{model.stats.casting.power}}</div>
            <div class="printOnly">&nbsp;</div>
        </div>
        <div class="modelDisplayRow">
            <div><span class="bold-text">AGL: </span>d{{model.stats.abilities?.agility}}</div>
            <div><span class="bold-text">DEX: </span>d{{model.stats.abilities?.dexterity}}</div>
            <div><span class="bold-text">END: </span>d{{model.stats.abilities?.endurance}}</div>
            <div><span class="bold-text">KNW: </span>d{{model.stats.abilities?.knowledge}}</div>
            <div><span class="bold-text">SPR: </span>d{{model.stats.abilities?.spirit}}</div>
            <div><span class="bold-text">STR: </span>d{{model.stats.abilities?.strength}}</div>
        </div>
        <div class="modelDisplayRow" *ngIf="model.stats.skillList">
            <div><span class="bold-text">Skills:</span> {{model.stats.skillList}}</div>
            <div><span class="bold-text">Skill Bonus:</span> {{model.stats.skillBonus}}</div>
        </div>
        <div class="modelDisplayRow" *ngIf="model.stats.talentList">
            <div><span class="bold-text">Talents:</span> {{model.stats.talents | list}}</div>
        </div>
        <div class="modelDisplayRow" *ngIf="model.stats.itemList">
            <div><span class="bold-text">Items:</span> {{model.stats.itemList}}</div>
        </div>
        <div class="modelDisplayRow" *ngIf="model.stats.injuries">
            <div><span class="bold-text">Injuries:</span> {{model.stats.injuries | list}}</div>
        </div>
    </ng-container>
</div>