@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/_theme-colors' as ffb-theme;

#optionButtons button {
    margin-right: 0.5rem;
}

.noSetHeight {
    height: initial;
}

#errorMessage {
    white-space: normal;
    background-color: map.get(ffb-theme.$primary-palette, "error", 30);
    padding: 0.5rem 0;
}

.freebandStats {
    margin-bottom: 1rem;

    & > div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        span {
            padding-right: 1rem;
            flex: 1 1;
            white-space: nowrap;
            min-width: 25%;

            &.flextra {
                flex: 3 1;
            }
        }

        #notesSection {
            width: 100%;
        }
    }
}
