#optionButtons button {
    margin-right: 0.5rem;
}

.noSetHeight {
    height: initial;
}

.printOnly {
    display: none !important;
}

#errorMessage {
    white-space: normal;
    background-color: red;
    padding: 0.5rem 0;
}

.freebandStats {
    margin-top: 1rem;
    margin-bottom: 1rem;

    & > div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        span {
            padding-right: 1rem;
            flex: 1 1;
            white-space: nowrap;
        }
    }
}

@media print {
    // Reset all colors
    * {
        color: initial !important;
        background-color: initial !important;
    }
    
    // Hide elements not part of the freeband roster
    footer, freeband-setup, mat-sidenav, mat-toolbar, .noPrint {
        display: none !important;
    }

    mat-toolbar-row.mat-toolbar-row {
        padding: 0 0.5rem;
    }

    .freebandStats {
        & > div > span {
            // flex: 1 1;
            border: 1px solid black;
            font-size: 1rem;

            &:nth-child(1) {
                flex: 3 1 33%;
            }
        }
    }

    .printOnly {
        display: initial !important;
    }
}
