#optionButtons button {
    margin-right: 0.5rem;
}

.noSetHeight {
    height: initial;
}

#errorMessage {
    white-space: normal;
    background-color: red;
    padding: 0.5rem 0;
}

.freebandStats {
    margin-top: 1rem;
    margin-bottom: 1rem;

    & > div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        span {
            padding-right: 1rem;
            flex: 1 1;
            white-space: nowrap;

            &.flextra {
                flex: 3 1;
            }
        }
    }
}
