<h1 mat-dialog-title>Edit Model: {{model.displayName}}</h1>
<div mat-dialog-content>
  <mat-form-field style="width:100%">
    <input matInput type="text" placeholder="Character Name" [(ngModel)]="model.characterName">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Gender" [(value)]="model.gender">
      <mat-option *ngFor="let gender of ['M','F']" [value]="gender">{{gender}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width:100%">
    <input matInput type="number" placeholder="# of Advancements" [(ngModel)]="advancementCount">
  </mat-form-field>
  <button mat-button (click)="updateAdvancementCount()">Add advancements</button>
  <div *ngFor="let count of advancementNumber; let i = index">
    <mat-form-field>
      <mat-select (selectionChange)="addAdvancement(adv, i)" [(value)]="modelAdvancements[i]">
        <mat-option value="">None</mat-option>
        <mat-option *ngFor="let adv of advancements" [value]="adv">{{adv}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="model">Update</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>