<div class="mdc-layout-grid">
    <mat-form-field>
        <mat-select [placeholder]="type !== 'Standard' ? type : 'Model'" (selectionChange)="modelSelected($event)" [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let model of models" [value]="model">{{model.displayName}} - {{model.stats.type}} - {{model.value}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="modelRemoved()" *ngIf="type === 'Standard'">Remove model</button>
    <ng-container *ngIf="selected">
        <div class="mdc-layout-grid__inner" style="margin-bottom:1rem;">
            <div class="mdc-layout-grid__cell--span-2" style="font-weight:bold;">Name</div>
            <div class="mdc-layout-grid__cell--span-2">{{selected.displayName}}</div>
            <div class="mdc-layout-grid__cell--span-2" style="font-weight:bold;">Type</div>
            <div class="mdc-layout-grid__cell--span-2">{{selected.stats.type}}</div>
            <div class="mdc-layout-grid__cell--span-2" style="font-weight:bold;">Value</div>
            <div class="mdc-layout-grid__cell--span-1">{{selected.value}}</div>
            <div class="mdc-layout-grid__cell--span-1">
                <button mat-raised-button (click)="openEditWindow()">Edit model</button>
            </div>
        </div>
        <div class="mdc-layout-grid__inner" style="margin-bottom:1rem;" *ngFor="let weapon of selected.stats.melee">
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">MAR</div>
            <div class="mdc-layout-grid__cell--span-2">d{{weapon.rating}}</div>
            <div class="mdc-layout-grid__cell--span-2" style="font-weight:bold;">Weapon</div>
            <div class="mdc-layout-grid__cell--span-4">{{weapon.name}}<span *ngFor="let ability of weapon.abilities"> {{ability}},</span></div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">Dmg</div>
            <div class="mdc-layout-grid__cell--span-2">d{{weapon.damage}}<span *ngIf="weapon.damageBonus > 0">&nbsp;+{{weapon.damageBonus}}</span></div>
        </div>
        <div class="mdc-layout-grid__inner" style="margin-bottom:1rem;" *ngFor="let weapon of selected.stats.range">
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">RAR</div>
            <div class="mdc-layout-grid__cell--span-2">d{{weapon.rating}}</div>
            <div class="mdc-layout-grid__cell--span-2" style="font-weight:bold;">Weapon</div>
            <div class="mdc-layout-grid__cell--span-4">{{weapon.name}}<span *ngFor="let ability of weapon.abilities"> {{ability}},</span> {{weapon.distance}}in-{{weapon.distance*2}}in-{{weapon.distance*3}}in</div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">Dmg</div>
            <div class="mdc-layout-grid__cell--span-2">d{{weapon.damage}}<span *ngIf="weapon.damageBonus > 0">&nbsp;+{{weapon.damageBonus}}</span></div>
        </div>
        <div class="mdc-layout-grid__inner" style="margin-bottom:1rem;" *ngIf="selected.stats.casting">
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">CAR</div>
            <div class="mdc-layout-grid__cell--span-2">d{{selected.stats.casting.rating}}</div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">Power</div>
            <div class="mdc-layout-grid__cell--span-2">{{selected.stats.casting.power}}</div>
        </div>
        <div class="mdc-layout-grid__inner" style="margin-bottom:1rem;">
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">SPD</div>
            <div class="mdc-layout-grid__cell--span-1">{{selected.stats.speed}}</div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">DISC</div>
            <div class="mdc-layout-grid__cell--span-1">d{{selected.stats.discipline}}</div>
            <ng-container *ngIf="selected.stats.moraleBonus > 0">
                <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">Morale/Fear Bonus</div>
                <div class="mdc-layout-grid__cell--span-1">{{selected.stats.moraleBonus}}</div>
            </ng-container>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">DEF</div>
            <div class="mdc-layout-grid__cell--span-1">{{selected.stats.defense}}<span *ngIf="selected?.stats.shield">{{selected?.stats.shield}}</span></div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">AV</div>
            <div class="mdc-layout-grid__cell--span-1">{{selected.stats.armor}}</div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">LP</div>
            <div class="mdc-layout-grid__cell--span-1">{{selected.stats.lifePoints}}</div>
        </div>
        <div class="mdc-layout-grid__inner" style="margin-bottom:1rem;">
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">AGL</div>
            <div class="mdc-layout-grid__cell--span-1">d{{selected.stats.abilities.agility}}</div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">DEX</div>
            <div class="mdc-layout-grid__cell--span-1">d{{selected.stats.abilities.dexterity}}</div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">END</div>
            <div class="mdc-layout-grid__cell--span-1">d{{selected.stats.abilities.endurance}}</div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">KNW</div>
            <div class="mdc-layout-grid__cell--span-1">d{{selected.stats.abilities.knowledge}}</div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">SPR</div>
            <div class="mdc-layout-grid__cell--span-1">d{{selected.stats.abilities.spirit}}</div>
            <div class="mdc-layout-grid__cell--span-1" style="font-weight:bold;">STR</div>
            <div class="mdc-layout-grid__cell--span-1">d{{selected.stats.abilities.strength}}</div>
        </div>
        <div class="mdc-layout-grid__inner" style="margin-bottom:1rem;" *ngIf="selected.stats.skills?.length > 0">
            <div class="mdc-layout-grid__cell--span-6"><span style="font-weight:bold;">Skills:</span> {{selected.stats.skillList}}</div>
            <div class="mdc-layout-grid__cell--span-6"><span style="font-weight:bold;">Skill Bonus:</span> {{selected.stats.skillBonus}}</div>
        </div>
        <div class="mdc-layout-grid__inner" style="margin-bottom:1rem;" *ngIf="selected.stats.talents?.length > 0">
            <div class="mdc-layout-grid__cell--span-12"><span style="font-weight:bold;">Talents:</span> {{selected.stats.talentList}}</div>
        </div>
    </ng-container>
</div>