@use '@angular/material' as mat;
@use '_theme-colors' as ffb-theme;
@include mat.core();

// https://material.angular.dev/guide/theming-your-components for color variables
// https://v19.material.angular.dev/guide/theming for general theming info

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    @include mat.theme((
        color: (
            theme-type: dark,
            primary: ffb-theme.$primary-palette,
            tertiary: ffb-theme.$tertiary-palette,
        ),
        typography: Roboto,
        density: 0
    ));
    // @include mat.all-component-themes($ffb-app-theme);
}

// a, a:visited {
//     color: #FFF;
// }

// a:hover {
//     color: #ffc107;
// }

// .mat-mdc-snack-bar-container {
//   // background-color: #ffc107 !important;
//   &.invalid-build {
//       background-color: red;
//       color: #FFF;
//   }
//   &.refresh-page {
//       background-color: #ffc107
//   }
// }

// mat-radio-group mat-radio-button, mat-checkbox {
//     padding-right: 1em;
// }

.bold-text {
    font-weight: bold;
}

.printOnly {
    display: none !important;
}

@media print {
    // Reset all colors
    * {
        color: initial !important;
        background-color: initial !important;
    }
    
    // Hide elements not part of the freeband roster
    footer, freeband-setup, mat-sidenav, mat-toolbar, .noPrint {
        display: none !important;
    }

    mat-toolbar-row.mat-toolbar-row {
        padding: 0 0.5rem;
    }

    .freebandStats {
        & > div > span {
            border: 1px solid black;
            font-size: 1rem;
        }
    }

    .printOnly {
        display: initial !important;
    }
}
