@use 'sass:map';
@use '@angular/material' as mat;
@use '_theme-colors' as ffb-theme;
@include mat.core();

// https://material.angular.dev/guide/theming-your-components for color variables
// https://v19.material.angular.dev/guide/theming for general theming info

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    @include mat.theme((
        color: (
            theme-type: light,
            primary: ffb-theme.$primary-palette,
            tertiary: ffb-theme.$tertiary-palette,
        ),
        typography: Roboto,
        density: 0
    ));
    // @include mat.all-component-themes($ffb-app-theme);
}

// body {
//     background: var(--mat-sys-primary);
//     color: var(--mat-sys-on-primary);
// }

:root {
    @include mat.toolbar-overrides((
        container-background-color: map.get(ffb-theme.$primary-palette, 50),
        container-text-color: #000,
    ));
    @include mat.sidenav-overrides((
        container-background-color: map.get(ffb-theme.$primary-palette, "neutral", 20),
        container-text-color: #fff,
        content-background-color: map.get(ffb-theme.$primary-palette, "neutral", 10),
        content-text-color: #fff,
    ));
    @include mat.button-overrides((
        filled-container-color: map.get(ffb-theme.$primary-palette, "secondary", 70),
        filled-label-text-color: #000,
        protected-container-color: map.get(ffb-theme.$primary-palette, "secondary", 70),
        protected-label-text-color: #000,
        protected-disabled-container-color: color-mix(in srgb, map.get(ffb-theme.$primary-palette, "neutral", 40) 12%, transparent),
        protected-disabled-label-text-color: map.get(ffb-theme.$primary-palette, "neutral", 50),
    ));
}

mat-sidenav {
    @include mat.list-overrides((
        list-item-label-text-color: #fff,
        list-item-hover-state-layer-color: map.get(ffb-theme.$primary-palette, "secondary", 80),
        list-item-hover-label-text-color: #000,
        list-item-hover-state-layer-opacity: 0.5,
        active-indicator-color: map.get(ffb-theme.$primary-palette, "secondary", 70),
        // TODO: add hover and active colors
    ));
}

// a, a:visited {
//     color: #FFF;
// }

// a:hover {
//     color: #ffc107;
// }

// .mat-mdc-snack-bar-container {
//   // background-color: #ffc107 !important;
//   &.invalid-build {
//       background-color: red;
//       color: #FFF;
//   }
//   &.refresh-page {
//       background-color: #ffc107
//   }
// }

// mat-radio-group mat-radio-button, mat-checkbox {
//     padding-right: 1em;
// }

.bold-text {
    font-weight: bold;
}

.printOnly {
    display: none !important;
}

@media print {
    // Reset all colors
    * {
        color: initial !important;
        background-color: initial !important;
    }
    
    // Hide elements not part of the freeband roster
    footer, freeband-setup, mat-sidenav, mat-toolbar, .noPrint {
        display: none !important;
    }

    mat-toolbar-row.mat-toolbar-row {
        padding: 0 0.5rem;
    }

    .freebandStats {
        & > div > span {
            border: 1px solid black;
            font-size: 1rem;
        }
    }

    .printOnly {
        display: initial !important;
    }
}
