@import "node_modules/material-components-web/material-components-web";
@import 'node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// green #73c169
// gold #f8cd6e
$ffb-app-primary: mat-palette($mat-green);
$ffb-app-accent:  mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$ffb-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ffb-app-theme: mat-dark-theme($ffb-app-primary, $ffb-app-accent, $ffb-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ffb-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

snack-bar-container {
  // background-color: #ffc107 !important;
  &.invalid-build {
      background-color: red;
      color: #FFF;
  }
  &.refresh-page {
      background-color: #ffc107
  }
}

mat-radio-group mat-radio-button, mat-checkbox {
    padding-right: 1em;
}

.bold-text {
    font-weight: bold;
}

.printOnly {
    display: none !important;
}

@media print {
    // Reset all colors
    * {
        color: initial !important;
        background-color: initial !important;
    }
    
    // Hide elements not part of the freeband roster
    footer, freeband-setup, mat-sidenav, mat-toolbar, .noPrint {
        display: none !important;
    }

    mat-toolbar-row.mat-toolbar-row {
        padding: 0 0.5rem;
    }

    .freebandStats {
        & > div > span {
            // flex: 1 1;
            border: 1px solid black;
            font-size: 1rem;

            &:nth-child(1) {
                flex: 3 1 33%;
            }
        }
    }

    .printOnly {
        display: initial !important;
    }
}
